<!doctype html>
<html>
<head>
  <title>Let's play the game!</title>
</head>
<body>
    <form action="/madlib">
        <label for="fname">Your name:</label><br>
        <input type="text" name="name" type="text"><br>
        <label for="lname">Your color:</label><br>
        <input type="text"  name="color" type="text"><br><br>
        <label for="lname">Add a noun:</label><br>
        <input type="text"  name="noun" type="text"><br><br>
        <label for="lname">Add an adjective:</label><br>
        <input type="text" name="adjective" type="text"><br><br>
        <input type="submit" value="Submit">
      </form> 
</body>
</html>
